@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="device">
    <EditForm Model="Item" OnValidSubmit="OnOK">

        <DataAnnotationsValidator />

        <div class="name">
            <span class="caption">Device Name</span>
            <span class="input-field">
                <input type="text" @bind="Item.Name" />
            </span>
        </div>
        <div class="mac-address">
            <span class="caption">MAC Address</span>
            <span class="input-field">
                <input type="text" @bind="Item.MACAddress" />
            </span>
        </div>
        <div class="error-message">
            <ValidationSummary></ValidationSummary>
        </div>
        <div class="actions">
            @if (OnClickDelete != null)
            {
                <button class="button delete-button" type="button" @onclick="OnDelete">Delete</button>
            }
            <button class="button">OK</button>
            <a class="button" href="@(NavigationManager.BaseUri)">Cancel</a>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public Device Item { get; set; }

    [Parameter]
    public Func<Device, Task> OnClickOK { get; set; }

    [Parameter]
    public Func<Task> OnClickDelete { get; set; }

    async Task OnOK()
    {
        // MAC Address Normalization
        Item.MACAddress = Item.MACAddress.Replace("-", ":").ToUpper();

        await OnClickOK?.Invoke(Item);
    }

    async Task OnDelete()
    {
        var yes = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete?");
        if (yes)
        {
            await OnClickDelete?.Invoke();
        }
    }
}
